@model ToDoApp.Model.Tarea

@{
    ViewData["Title"] = "Eliminar Tarea";
}

<div class="container" style="background-color: #f8f9fa; padding: 20px; border-radius: 10px; max-width: 600px; margin: auto;">
    <h1 style="color: #5d5d5d;">Eliminar Tarea</h1>
    <h3 style="color: #5d5d5d;">¿Estás seguro de que deseas eliminar esta tarea?</h3>
    <div>
        <h4 style="color: #5d5d5d;">Detalles de la Tarea</h4>
        <hr style="border-top: 1px solid #5d5d5d;" />
        <dl class="row">
            <dt class="col-sm-3" style="color: #5d5d5d;">
                @Html.DisplayNameFor(model => model.ID)
            </dt>
            <dd class="col-sm-9" style="color: #5d5d5d;">
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dt class="col-sm-3" style="color: #5d5d5d;">
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>
            <dd class="col-sm-9" style="color: #5d5d5d;">
                @Html.DisplayFor(model => model.Titulo)
            </dd>
            <dt class="col-sm-3" style="color: #5d5d5d;">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-sm-9" style="color: #5d5d5d;">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class="col-sm-3" style="color: #5d5d5d;">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-9" style="color: #5d5d5d;">
                @Html.DisplayFor(model => model.Estado)
            </dd>
            <dt class="col-sm-3" style="color: #5d5d5d;">
                @Html.DisplayNameFor(model => model.Prioridad)
            </dt>
            <dd class="col-sm-9" style="color: #5d5d5d;">
                @Html.DisplayFor(model => model.Prioridad)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="submit" value="Eliminar" class="btn btn-danger" style="background-color: #ff6f61; border-color: #ff6f61;" /> |
            <a asp-action="Index" class="btn btn-secondary" style="background-color: #84a9ac; border-color: #84a9ac;">Volver a la Lista</a>
        </form>
    </div>
</div>
